<%= flash[:message] if flash[:message] %>

<%= form_for(@shirt) do |f| %>
<div class="form-row align-items-center">
  <div class="form-group col-md-6">
    <%= f.label :name, class: "col-form-label" %>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>
</div>

<div class="form-row align-items-center">
  <div class="form-group col-md-6">
    <%= f.label :description, class: "col-form-label" %>
    <%= f.text_area :description, required: true, class: "form-control" %>
  </div>
</div>

<div class="form-row align-items-center">
  <div class="form-group col-md-6">
    <%= f.label :color, class: "col-form-label" %>
    <%= f.text_field :color, required: true, class: "form-control" %>
  </div>
</div>

<div class="form-row align-items-center">
  <div class="form-group col-md-6">
    <%= f.label :price_in_cents, class: "col-form-label" %>
    <%= f.text_field :price_in_cents, required: true, class: "form-control" %>
  </div>
</div>

<fieldset class="form-group row">
  <legend class="col-form-label col-sm-2 pt-0">Size</legend>
  <div class="col-sm-10">
    <div class="form-check">
      <%= f.radio_button :size, "S", checked: true %>
      <label class="form-check-label">
        <%= f.label :small %>
      </label>
    </div>

    <div class="form-check">
      <%= f.radio_button :size, "M" %>
      <label class="form-check-label">
        <%= f.label :medium %>
      </label>
    </div>

    <div class="form-check">
      <%= f.radio_button :size, "L" %>
      <label class="form-check-label">
        <%= f.label :large %>
      </label>
    </div>
  </div>
</fieldset>

<%= f.submit "Add Shirt", class: "btn btn-primary" %>
<% end %>